<div class='container px-md-5 pb-5'>
    <div class="card">
        <div class='card-header align-left'>
            <h4 class='my-auto py-1' style='font-family: CircularStd-Black;'>Posts</h4>
        </div>
        <div class="">
            <div class='details'>
                <ul class="list-group list-group-flush">
                    {{#each postsData}}
                    <li class="list-group-item" id="post" onclick="fetchPost({{id}})" data-method="post">
                        <div class="row title">
                            <div class="col">
                                <h5 style='font-family: CircularStd-Book; font-weight: 600;'>{{title}}</h5>
                            </div>
                        </div>
                        <div class="row body">
                            <div class="col">
                                <p style='font-family: CircularStd-Book;'>{{body}}
                                </p>
                            </div>
                        </div>
                        <div class="row userId">
                            <div class="col-8">
                                <small class="form-text text-info"
                                    style='font-family: CircularStd-Book; font-weight: 500'>userId:
                                    {{userId}}</small>
                            </div>
                            <div class="col-4 text-right">
                                <span class="badge badge-pill badge-secondary"
                                    style='font-family: CircularStd-Book'>{{id}}</span>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="text-center py-4">
            {{> _previous}}
            {{> _next}}
        </div>
    </div>
</div>